# Node
node_modules
npm-debug.log

# Docker
Dockerfile
.dockerignore

# Git
.git
.github
.gitignore

# Builds
dist

# Dev configs
.prettierrc
.prettierignore
jsconfig.json

# Markdown files
*.md

# Release scripts
release