{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": false
			}
		}
	],
	"printWidth": 500,
	"proseWrap": "always",
	"useTabs": true,
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all"
}
